* {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.2em;
}

html, body {
    background-color: black;
    height: 100%;
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header-wrapper {
    height: 4.4em;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 1em;
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
}

.name {
    font-size: 2rem;
    flex-grow: 1;
}

.links > * {
    color: white;
}

.footer-wrapper {
    height: 3.2em;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.social {
}

.social > * {
    color: white;
}

main {
    background-color: #333333;
    padding: 1em 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > * {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
}

.form-name, .form-email {
    flex-grow: 1;
    flex-shrink: 0;
}

.form-message {
    flex-basis: 100%;
}

.form-message > textarea {
    min-height: 10em;
}

.form-submit {
    width: 10em;
    margin-left: auto;
}

input[type="submit"] {
    padding: 0 0.2em;
}


@media (max-width: 483px) {
    header {
        flex-direction: column;
        padding: 0.4em;
    }

    form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form-submit {
        width: auto;
        margin-left: 0;
    }
}